In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("/Users/mouse/Documents/GitHub/SC3020/SC3020-Lab1/games.txt", delimiter = '\t')

In [18]:
df.head(20)

,GAME_DATE_EST,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,HOME_TEAM_WINS
0,22/12/2022,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1
1,22/12/2022,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1
2,21/12/2022,1610612739,114.0,0.482,0.786,0.313,22.0,37.0,1
3,21/12/2022,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1
4,21/12/2022,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,0
5,21/12/2022,1610612738,112.0,0.386,0.840,0.317,26.0,62.0,0
6,21/12/2022,1610612751,143.0,0.643,0.875,0.636,42.0,32.0,1
7,21/12/2022,1610612752,106.0,0.553,0.611,0.423,25.0,38.0,0
8,21/12/2022,1610612745,110.0,0.466,0.647,0.395,22.0,49.0,0
9,21/12/2022,1610612750,99.0,0.494,0.700,0.267,23.0,39.0,0
10,21/12/2022,1610612760,101.0,0.468,0.840,0.333,19.0,37.0,1
11,21/12/2022,1610612758,134.0,0.505,0.750,0.362,29.0,46.0,1
12,21/12/2022,1610612746,126.0,0.506,0.913,0.469,29.0,48.0,1
13,20/12/2022,1610612765,111.0,0.506,0.741,0.360,22.0,43.0,0
14,20/12/2022,1610612748,103.0,0.469,0.706,0.341,26.0,35.0,0
15,20/12/2022,1610612752,132.0,0.517,0.781,0.425,27.0,47.0,1
16,20/12/2022,1610612756,110.0,0.461,0.789,0.406,26.0,44.0,0
17,20/12/2022,1610612743,105.0,0.449,0.600,0.370,28.0,48.0,1
18,19/12/2022,1610612739,122.0,0.614,0.808,0.577,24.0,45.0,1
19,19/12/2022,1610612755,104.0,0.400,0.926,0.357,22.0,41.0,1

In [25]:
np.unique(df['HOME_TEAM_WINS'])

array([0, 1])

In [26]:
df.describe()

,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,HOME_TEAM_WINS
count,2.665100e+04,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,26552.000000,26651.000000
mean,1.610613e+09,103.455898,0.460735,0.760377,0.356023,22.823441,43.374284,0.587032
std,8.638670e+00,13.283370,0.056676,0.100677,0.111164,5.193308,6.625769,0.492376
min,1.610613e+09,36.000000,0.250000,0.143000,0.000000,6.000000,15.000000,0.000000
25%,1.610613e+09,94.000000,0.422000,0.697000,0.286000,19.000000,39.000000,0.000000
50%,1.610613e+09,103.000000,0.460000,0.765000,0.357000,23.000000,43.000000,1.000000
75%,1.610613e+09,112.000000,0.500000,0.833000,0.429000,26.000000,48.000000,1.000000
max,1.610613e+09,168.000000,0.684000,1.000000,1.000000,50.000000,72.000000,1.000000

In [20]:
df.shape

(26651, 9)

In [21]:
len(np.unique(df['FG_PCT_home']))

364

In [22]:
np.unique(df['FG_PCT_home'])

array([0.25 , 0.257, 0.266, 0.269, 0.274, 0.275, 0.277, 0.278, 0.279,
       0.282, 0.283, 0.284, 0.286, 0.288, 0.289, 0.29 , 0.291, 0.292,
       0.293, 0.294, 0.295, 0.296, 0.297, 0.298, 0.299, 0.3  , 0.301,
       0.302, 0.303, 0.304, 0.305, 0.306, 0.307, 0.308, 0.309, 0.31 ,
       0.311, 0.312, 0.313, 0.314, 0.315, 0.316, 0.317, 0.318, 0.319,
       0.32 , 0.321, 0.322, 0.323, 0.324, 0.325, 0.326, 0.327, 0.328,
       0.329, 0.33 , 0.333, 0.337, 0.338, 0.339, 0.34 , 0.341, 0.342,
       0.343, 0.344, 0.345, 0.346, 0.347, 0.348, 0.349, 0.35 , 0.351,
       0.352, 0.353, 0.354, 0.355, 0.356, 0.357, 0.358, 0.359, 0.36 ,
       0.361, 0.362, 0.363, 0.364, 0.365, 0.366, 0.367, 0.368, 0.369,
       0.37 , 0.371, 0.372, 0.373, 0.374, 0.375, 0.376, 0.377, 0.378,
       0.379, 0.38 , 0.381, 0.382, 0.383, 0.384, 0.385, 0.386, 0.387,
       0.388, 0.389, 0.39 , 0.391, 0.392, 0.393, 0.394, 0.395, 0.396,
       0.397, 0.398, 0.4  , 0.402, 0.403, 0.404, 0.405, 0.406, 0.407,
       0.408, 0.409, 0.41 , 0.411, 0.412, 0.413, 0.414, 0.415, 0.416,
       0.417, 0.418, 0.419, 0.42 , 0.421, 0.422, 0.423, 0.424, 0.425,
       0.426, 0.427, 0.429, 0.43 , 0.431, 0.432, 0.433, 0.434, 0.435,
       0.436, 0.437, 0.438, 0.439, 0.44 , 0.441, 0.442, 0.443, 0.444,
       0.445, 0.446, 0.447, 0.448, 0.449, 0.45 , 0.451, 0.452, 0.453,
       0.454, 0.455, 0.456, 0.457, 0.458, 0.459, 0.46 , 0.461, 0.462,
       0.463, 0.464, 0.465, 0.466, 0.467, 0.468, 0.469, 0.47 , 0.471,
       0.472, 0.473, 0.474, 0.475, 0.476, 0.477, 0.478, 0.479, 0.48 ,
       0.481, 0.482, 0.483, 0.484, 0.485, 0.486, 0.487, 0.488, 0.489,
       0.49 , 0.492, 0.493, 0.494, 0.495, 0.496, 0.5  , 0.505, 0.506,
       0.507, 0.508, 0.509, 0.51 , 0.511, 0.512, 0.513, 0.514, 0.515,
       0.516, 0.517, 0.518, 0.519, 0.52 , 0.521, 0.522, 0.523, 0.524,
       0.525, 0.526, 0.527, 0.528, 0.529, 0.53 , 0.531, 0.532, 0.533,
       0.534, 0.535, 0.536, 0.537, 0.538, 0.539, 0.54 , 0.541, 0.542,
       0.543, 0.544, 0.545, 0.546, 0.547, 0.548, 0.549, 0.55 , 0.551,
       0.552, 0.553, 0.554, 0.556, 0.557, 0.558, 0.559, 0.56 , 0.561,
       0.562, 0.563, 0.564, 0.565, 0.566, 0.567, 0.568, 0.569, 0.57 ,
       0.571, 0.573, 0.574, 0.575, 0.576, 0.577, 0.578, 0.579, 0.58 ,
       0.581, 0.582, 0.583, 0.584, 0.585, 0.586, 0.587, 0.588, 0.589,
       0.59 , 0.591, 0.592, 0.593, 0.594, 0.595, 0.596, 0.597, 0.598,
       0.6  , 0.602, 0.603, 0.604, 0.605, 0.606, 0.607, 0.608, 0.609,
       0.61 , 0.611, 0.612, 0.613, 0.614, 0.615, 0.616, 0.617, 0.618,
       0.619, 0.62 , 0.621, 0.622, 0.623, 0.624, 0.625, 0.626, 0.627,
       0.628, 0.629, 0.63 , 0.631, 0.632, 0.633, 0.634, 0.635, 0.636,
       0.639, 0.64 , 0.641, 0.642, 0.643, 0.644, 0.645, 0.646, 0.648,
       0.65 , 0.651, 0.652, 0.653, 0.654, 0.655, 0.658, 0.662, 0.667,
       0.671, 0.675, 0.684,   nan])

In [23]:
np.mean(df[(df['FG_PCT_home'] >= 0.5) & (df['FG_PCT_home'] <= 0.8)]['FG3_PCT_home'])

np.float64(0.42080150680962036)